virtualfactory/src/main/webapp/wsdls/virtualAppliance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
*****************************************
Generated from file virtualAppliance.xsd
target_namespace=http://schemas.dmtf.org/ovf/envelope/1
xsd_file=virtualAppliance.xsd
service_name=virtualAppliance
resource_type=EnvelopeType
resource_name=Envelope
resource_uri=http://schemas.dmtf.org/ovf/envelope/1/virtualApplianceService/virtualApplianceResource
*****************************************
-->
<definitions xmlns:tns="http://schemas.dmtf.org/ovf/envelope/1"
        xmlns:state="http://schemas.dmtf.org/ovf/envelope/1"
        xmlns:wxf="http://schemas.xmlsoap.org/ws/2004/09/transfer"
        xmlns:wsen="http://schemas.xmlsoap.org/ws/2004/09/enumeration"
        xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing"
        xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsman="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd" 
        targetNamespace="http://schemas.dmtf.org/ovf/envelope/1">
        <import namespace="http://schemas.xmlsoap.org/ws/2004/09/transfer"
                location="wiseman/transfer.wsdl" />
        <import namespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration"
                location="wiseman/enumeration.wsdl" />
        <import namespace="http://schemas.xmlsoap.org/ws/2004/08/eventing"
                location="wiseman/eventing.wsdl" />
        <types>
                <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                        elementFormDefault="qualified" blockDefault="#all"> 
                        <xs:import namespace="http://schemas.dmtf.org/ovf/envelope/1" schemaLocation="../schemas/virtualAppliance.xsd"/>
                </xs:schema>
        </types>
        <!-- Custom Messages -->
        <message name="EnvelopeTypeMessage">
                <part name="EnvelopeTypeMessage" element="state:Envelope" />
        </message>
        <message name="CreateResponseMessage">
                <part name="CreateResponseMessage"
                        element="wxf:ResourceCreated" />
        </message>
        
        <message name="DeleteRequestMessage">
      		<part name="DeleteRequestMessage" element="wxf:AnyXmlOptional"/>
   		</message>
		<message name="GetStatusResponseMessage">
			<part name="Body1" element="wsen:GetStatusResponse"/>
			<part name="Header_tom" element="wsa:To"/>
			<part name="Header_actm" element="wsa:Action"/>
			<part name="Header_mim" element="wsa:MessageID"/>
		</message>
		<message name="ToMessage">
			<part name="Header_tom" element="wsa:To"/>
		</message>
		<message name="ActionMessage">
			<part name="Header_actm" element="wsa:Action"/>
		</message>
		<message name="MessageIdMessage">
			<part name="Header_mim" element="wsa:MessageID"/>
		</message>
		

        <!-- PortTypes -->
        
        <portType name="virtualApplianceResource">
                <documentation>
                        This port type defines a resource that may be
                        read, written, created, deleted or enuumerated.
                </documentation>
                
                <!-- WS-Transfer Operations -->
                <operation name="Create">
                        <input message="tns:EnvelopeTypeMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Create" />
                        <output message="tns:CreateResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/CreateResponse" />
                </operation>
                <operation name="Get">
                        <input message="wxf:EmptyMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Get" />
                        <output message="tns:EnvelopeTypeMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/GetResponse" />
                </operation>
                <operation name="Put">
                        <input message="wxf:AnyXmlMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Put" />
                        <output message="wxf:OptionalXmlMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/PutResponse" />
                </operation>
                <operation name="Delete">
                        <input message="tns:DeleteRequestMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Delete" />
                        <output message="wxf:EmptyMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/DeleteResponse" />
                </operation>
                
                <!-- TODO: Add all Custom Operations with Custom wsa:Action Attributes here
                <operation name="CustomOp">
                        <input message="wxf:EmptyMessage"
                                wsa:Action="http://wiseman.dev.java.net/schema/CustomOp" />
                        <output message="wxf:EmptyMessage"
                                wsa:Action="http://wiseman.dev.java.net/schema/CustomOpResponse" />
                </operation>
                 -->
                
                <!-- WS-Enumeration Operations -->
                <operation name="EnumerateOp">
                        <input message="wsen:EnumerateMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Enumerate" />
                        <output message="wsen:EnumerateResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerateResponse" />
                </operation>
                <operation name="PullOp">
                        <input message="wsen:PullMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull" />
                        <output message="wsen:PullResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/PullResponse" />
                </operation>
                <operation name="RenewOp">
                        <input message="wsen:RenewMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Renew" />
                        <output message="wsen:RenewResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/RenewResponse" />
                </operation>
                <operation name="GetStatusOp">
                        <input message="wsen:GetStatusMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatus" />
                        <output message="tns:GetStatusResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatusResponse" />
                </operation>
                <operation name="ReleaseOp">
                        <input message="wsen:ReleaseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Release" />
                        <output message="wsen:ReleaseResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/ReleaseResponse" />
                </operation>
                <!--operation name="EnumerationEndOp">
                        <output message="wsen:EnumerationEndMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerationEnd" />
                </operation-->
                
                <!-- WS Eventing operations -->
                <operation name="SubscribeOp" >
                         <input message="wse:SubscribeMsg" 
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/Subscribe" />
                         <output message="wse:SubscribeResponseMsg" 
                                 wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/SubscribeResponse" />
                </operation>
                <operation name="RenewSubscriptionOp" >
                         <input message="wse:RenewMsg"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/Renew" />
                         <output message="wse:RenewResponseMsg" 
                                 wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/RenewResponse" />
                </operation>
                <operation name="GetSubscriptionStatusOp" >
                         <input message="wse:GetStatusMsg" 
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/GetStatus" />
                         <output message="wse:GetStatusResponseMsg" 
                                 wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/GetStatusResponse" />
                </operation>
                <operation name="UnsubscribeOp" >
                         <input message="wse:UnsubscribeMsg" 
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/Unsubscribe" />
                         <output message="wse:UnsubscribeResponseMsg"
                                 wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/UnsubscribeResponse" />
                </operation>
        </portType>

        <binding name="virtualApplianceResourceBinding" type="tns:virtualApplianceResource">
          <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

                <!-- WS-Tranfer Operations -->
                <operation name="Get">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Get"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="Put">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Put"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output> 
                </operation>
                <operation name="Delete">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Delete"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="Create">
                      <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Create"/>
                      <input>                        
                              <wsoap12:body use="literal"/>
                      </input>
                      <output>
                              <wsoap12:body use="literal"/>
                      </output>
                </operation>
                
                <!-- TODO: Add all Custom Operations with Custom wsa:Action Attributes here
                <operation name="CustomOp">
                <wsoap12:operation soapAction="http://wiseman.dev.java.net/schema/CustomOp"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>               
                </operation>
                 -->
                
                <!-- WS-Enumeration Operations -->
                <operation name="EnumerateOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Enumerate"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="PullOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="RenewOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Renew"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetStatusOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatus"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
							<wsoap12:body use="literal" parts="Body1"/>
							<wsoap12:header message="tns:ToMessage" part="Header_tom" use="literal"/>
							<wsoap12:header message="tns:ActionMessage" part="Header_actm" use="literal"/>
							<wsoap12:header message="tns:MessageIdMessage" part="Header_mim" use="literal"/>
                        </output>   
                </operation>
                <operation name="ReleaseOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Release"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <!--operation name="EnumerationEndOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerationEnd"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>                
                </operation-->
                
                <!-- WS Eventing operations -->
                <operation name="SubscribeOp" >
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/08/eventing/Subscribe"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="RenewSubscriptionOp" >
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/08/eventing/Renew"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetSubscriptionStatusOp" >
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/08/eventing/GetStatus"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="UnsubscribeOp" >
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/08/eventing/Unsubscribe"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
        </binding>

        <service name="virtualApplianceService">
          <documentation>virtualAppliance Service</documentation>                               
                
                <port name="virtualApplianceResource" binding="tns:virtualApplianceResourceBinding">
                  <wsoap12:address location="$$SERVICE_URL/"/>
                  <wsa:EndpointReference>
                    <wsa:Address>$$SERVICE_URL/</wsa:Address>
                    <wsa:ReferenceParameters>
                       <wsman:ResourceURI>http://schemas.dmtf.org/ovf/envelope/1/virtualApplianceService/virtualApplianceResource</wsman:ResourceURI>
                    </wsa:ReferenceParameters>
                  </wsa:EndpointReference>
                </port>
                
        </service>                        
</definitions>
